.wrapper-profile {
    margin: 20px auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-evenly;
}
.col-3 {
    height: 100vh;
    background-color: rgba(223, 223, 223, 0.205);
    width: calc(100% / 4 - 5px);
    margin: 0;
}
.col-1 {
    height: 100vh;    
    background-color: rgba(223, 223, 223, 0.205);
    width: calc(100% / 12);
    margin: 0;
}
.col-2 {
    height: 100vh;
    background-color: rgba(223, 223, 223, 0.205);
    width: calc(100% / 6);
    margin: 0;
}
.col-3 {
    height: 100vh;
    background-color: rgba(223, 223, 223, 0.205);
    width: calc(100% / 4);
    margin: 0;
}
.col-4 {
    height: 100vh;
    background-color: rgba(223, 223, 223, 0.205);
    width: calc(100% / 3);
    margin: 0;
}
.col-6 {
    height: 100vh;
    background-color: rgba(223, 223, 223, 0.205);
    width: calc(100% / 2);
    margin: 0;
}
