.wrapper-msg {
    width: 80%;
    display: flex;
    margin: 0;
    justify-content: space-evenly;
    margin-left: 20%;
}
.wrapper-msg-left{
    width: 70%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.wrapper-msg-right{
    background-color: rgba(231, 231, 231, 0.699);
    width: 30%;
    height: 100vh;
}
.left {
    width: fit-content;
    min-width: 50%;
    height: fit-content;
    background-color: rgba(210, 245, 245, 0.753);
    border-radius: 15px;
    margin: 5px 5px;
    padding: 10px;
    float: left;
    display: block;
}

.right {
    width: fit-content;
    min-width: 50%;
    height: fit-content;
    background-color: rgba(184, 240, 176, 0.5);
    float: right;    
    border-radius: 15px;
    margin: 5px 5px;
    padding: 10px;
    display: block;
    position: relative;
    padding-right: 30px;

}
#sign {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: rgb(179, 177, 177);
    font-size: 11px;
    padding: 3px;
    background-color: white;
    border-radius: 30px;
}
#box-top-msgs {
    height: 70%;
    width: 100%;
    overflow: auto;
    overflow-y: scroll;
}
#box-bottom-input {
    height: 30%;
    width: 100%;
}
#inp-msg {
    width: 90%;
    height: 70%;
    margin: 0 auto;
    border-radius: 9px;
    border: 0.5px solid rgb(172, 167, 167);
}
#box-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(146, 141, 141, 0.2), 0 6px 20px 0 rgba(180, 179, 179, 0.19);
}
.x-center {
    margin: 0 auto;
    width: 80%;
    margin-top: 20%;
  }



