#box-error-login {
    margin: 20px auto;
    background-color: rgba(231, 185, 186, 0.13);
    padding:10px;
    border: 1px solid rgb(240, 77, 77);
    width: 35%;
    height: 25px;
    border-radius:5px;
    text-align:center;
}
#text-error-login {
    color:rgba(255, 0, 0, 0.63);
    font-size:14px;
    margin: 0;
}