.box {
    margin: 0 auto;
    background-color: rgba(231, 185, 186, 0.13);
    padding:10px;
    border: 1px solid rgb(240, 77, 77);
    width: calc(100% - 15px);
    height: 25px;
    border-radius:5px;
    text-align:center;
}
p {
    color:rgba(255, 0, 0, 0.63);
    font-size:14px;
    margin: 0;
}
       
    
