#wrapper-header {
    background-color: rgb(35, 63, 122);
    height: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header{
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.nav-top {
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    margin-right: auto;
}
.nav-top-li {
    text-decoration: none;
    margin-left: 20px;
    color: white;
    padding: 5px 10px;
    border-radius: 17px;
}
.nav-top-li:hover {
    background-color: rgb(19, 34, 68);
}
.nav-menu:hover {
    cursor: pointer;
    color: yellow;
}
#logo {
    width: 70px;
    height: 30px;
    position: relative;
    margin: 0 auto;
}
#logo-circle-1 {
    width: 30px;
    height: 30px;
    background: rgba(22, 3, 128, 0.959);
    border-radius: 50%;
}
#logo-circle-2 {
    position: absolute;
    left: 15px;
    top: 0;
    width: 30px;
    height: 30px;
    background: rgba(43, 177, 148, 0.486);
    border-radius: 50%;
}
#logo-text {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.432);
    margin: 6px auto;
    width: 50%;
}
#nav-top-me {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

