#img-welcome {
    border-radius: 90px;
    width: 300px;
}
.box-welcome {
    width: 300px;
    margin: 200px auto;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: rgb(83, 83, 83);
}