.wrapper-msg {
    display: flex;
    margin: 0;
    justify-content: space-evenly;
    margin-left: 200px;
}
.wrapper-msg-left{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.wrapper-msg-right{
    background-color: rgba(231, 231, 231, 0.699);
    width: 450px;
    height: 100vh;
}
.left {
    width: fit-content;
    min-width: 50%;
    height: fit-content;
    background-color: rgba(210, 245, 245, 0.753);
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    float: left;
    display: block;
    position: relative;
}

.right {
    width: fit-content;
    min-width: 50%;
    height: fit-content;
    background-color: rgba(184, 240, 176, 0.5);
    float: right;    
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    display: block;
    position: relative;
    padding-right: 30px;

}
.dateAnDTimeRight {
    color: gray;
    font-size: 10px;
    position: absolute;
    right: 10px;
    bottom: -25px;
}
.dateAnDTimeLeft {
    color: gray;
    font-size: 10px;
    position: absolute;
    left: 10px;
    bottom: -25px;
}
#sign {
    position: absolute;
    right: 5px;
    bottom: 0;
    color: rgb(179, 177, 177);
    font-size: 11px;
    padding: 3px;
    background-color: white;
    border-radius: 30px;
}
#box-top-msgs {
    height: calc(100vh / 1.5);
    width: 100%;
    overflow: auto;
    overflow-y: scroll;
}
#box-bottom-input {
    width: 100%;
}
#box-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(146, 141, 141, 0.2), 0 6px 20px 0 rgba(180, 179, 179, 0.19);
}
.x-center {
    margin: 0 auto;
    width: 80%;
    margin-top: 20%;
}

/* Right side (user's info) */

#box-right {
    box-shadow: 0 4px 8px 0 rgba(146, 141, 141, 0.2), 0 6px 20px 0 rgba(180, 179, 179, 0.19);
    border-radius: 10px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}
#box-right-top {
    width: 100%;
    height: 40%;
    position: relative;
    background: url('https://i.pinimg.com/564x/dd/cc/93/ddcc93aec1499cb734e2704a75b7297f.jpg');
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#box-right-bottom {
    width: 100%;
    height: 60%;

}
#box-right-img {
    position: absolute;
    background: white;
    top: 40%;
    left: calc(100% / 2 - 125px);
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(146, 141, 141, 0.2), 0 6px 20px 0 rgba(180, 179, 179, 0.19);
}
#box-right-bottom-info {
    width: 100%;
    height: 30%;
    text-align: center;
    padding-top: 60px;
    color: rgb(58, 57, 57);
}
.text-user {
    color: rgb(94, 92, 92);
    font-size: 12px;
    display: inline-block;
    margin: 5px;
}
#text-user-learn {
    margin-right: 20px;
}
#text-user-name {
    margin: 0;
}
#box-right-bottom-btn {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.right-bottom-btn {
    width: 35%;
    height: 40px;
    color: white;
    border-radius: 15px;
    margin: 0 10px;
}
#btn-view-profile {
    background-color: rgb(31, 114, 238);
    border: none;
    transition: background-color 1s;
}
#btn-view-profile:hover {
    background-color: rgb(75, 108, 136);
    cursor: pointer;
}

/* Input message */
#inp-msg-title {
    color: rgb(94, 92, 92);
    font-size: 12px;
}
#textarea-msg {
    width: 97%;
    height: 120px;
    border-radius: 9px;
    border: 0.5px solid rgb(172, 167, 167);
    resize: none;
}
#btn-send {
    width: 100px;
    height: 40px;
    position: absolute;
    right: 15px;
    color: white;
    border-radius: 15px;
    margin: 10px;
    background-color: rgb(31, 114, 238);
    border: none;
    transition: background-color 1s;
}
#btn-send:hover {
    background-color: rgb(24, 92, 194);
    cursor: pointer;
}
/* #box-bottom-message {
    text-align: center;
} */
#box-bottom-form {
    position: relative;
}







