#wrapper-users {
    display: flex;
    width: 90%;
    margin: 0 auto;
}
#wrapper {
    width: 100%;
}
#box {
    height: 250px;
    width: calc(100% / 6);
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(184, 182, 182, 0.2), 0 3px 3px 0 rgba(202, 201, 201, 0.19);
    height: fit-content;
    margin: 10px;
    border-radius: 10px;
    text-decoration: none;
}
#box:hover {
    background-color: rgba(214, 211, 211, 0.116);
    cursor: pointer;
}
