.wrapper-profile {
    margin: 20px auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    right: 0;
    justify-content: space-between;
}
.nav-left {
    list-style: none;
    padding: 0;
}
.nav-left-li {
    margin: 0;
    color: rgb(68, 67, 67);
    padding: 20px 60px;
}
.nav-left-li:hover {
    color: yellow;
    cursor: pointer;
    background-color: gray;
}



