.nav-left {
    list-style: none;
    padding: 0;
}
.nav-left-li {
    margin: 0;
    color: rgb(68, 67, 67);
    padding: 20px 60px;
    text-decoration: none;

}
.nav-left-li:hover {
    color: yellow;
    cursor: pointer;
    background-color: gray;
}




