.App {
  text-align: center;
}
.wrapper {
  width: 100%;
  height: fit-content;
}

.col-3 {
  height: 100vh;
  background-color: rgba(223, 223, 223, 0.205);
  width: calc(100% / 4 - 5px);
  margin: 0;
}
.col-1 {
  height: 100vh;    
  background-color: rgba(223, 223, 223, 0.205);
  width: calc(100% / 12);
  margin: 0;
}
.col-2 {
  height: 100vh;
  background-color: rgba(223, 223, 223, 0.205);
  width: calc(100% / 6);
  margin: 0;
}
.col-3 {
  height: 100vh;
  background-color: rgba(223, 223, 223, 0.205);
  width: calc(100% / 4);
  margin: 0;
}
.col-4 {
  height: 100vh;
  background-color: rgba(223, 223, 223, 0.205);
  width: calc(100% / 3);
  margin: 0;
}
.col-6 {
  height: 100vh;
  background-color: rgba(223, 223, 223, 0.205);
  width: calc(100% / 2);
  margin: 0;
}
.is-active:active {
  background-color: rgba(151, 151, 151, 0.295);
}
.container-favourites {
  grid-column: 2 / span 3;
}
.container-messages {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  grid-template-rows: auto;
}
.container-messages-left{
  grid-column: 1 / span 1;
}
.container-messages-right{
  grid-column: 2 / span 2;
}
.inactive {
  color: rgb(19, 19, 19);
  text-decoration: none;
}

/* If User has no messages/favourites yet */

.info-box {
  margin: 250px auto;
  width: 200px;
  background-color: rgba(35, 63, 122, 0);
  border-radius: 15px;
  padding: 15px;
  text-align: center;
}
.info-box p {
  margin: 0;
}
.btn-find {
  margin: 25px 0 10px 0;
  width: 180px;
  height: 40px;
  background-color: rgb(43, 177, 148);
  border: none;
  border-radius: 15px;
  color: white;
  transition: background-color 0.5s;   
  cursor: pointer;
}


